// Place all the styles related to the chefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Color Variables
$main-color: #00A8C6;
$accent-color: #40C0CB;
$neutral-color: #F9F2E7;
$secondary-color: #AEE239;
$secondary-accent: #8FBE00;

//Forms
.form-wrapper{
margin: 0 auto;
}

.signup-panel{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  padding-right: 50px;
  margin: 30px auto 0 auto;

  form{
	input, span{
	  height: 50px;
	}

  }
  .welcome{
	font-size: 26px;
	text-align: center;
	margin-left: 0;
  }
  p{
	font-size: 13px;
	font-weight: 200;
	margin-left: 25%;
  }
  .button{
	margin-left: 35%;
  }

}
.large-6.columns{
  margin-top: 100px;
}

