// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Color Variables
$main-color: #00A8C6;
$accent-color: #40C0CB;
$neutral-color: #F9F2E7;
$secondary-color: #AEE239;
$secondary-accent: #8FBE00;


///////////////////////////////////////////////////////
