// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$background-color: #a69c92;
$primary-color: dodgerblue;

.row {
  max-width: 100%;
}
.name{
  text-align: center;
}
.menu {
  background-color: $background-color;
  padding: 1.5rem 3rem 0 1.5rem;
  height: auto;
  .inline-list {
	text-align: center;
	li {
	  float: none;
	  display: inline-block;
	}
	a {
	  color: #fff;
	  padding-bottom: 0.5rem;
	  &:hover {
		color: $primary-color;
		transition: all .3s ease-in-out;
	  }
	}
  }
}