// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Color Variables
$main-color: #00A8C6;
$accent-color: #40C0CB;
$neutral-color: #F9F2E7;
$secondary-color: #AEE239;
$secondary-accent: #8FBE00;


.name{
  text-align: center;
}
.menu {
  background-color: $neutral-color;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  .inline-list {
	text-align: center;
	li {
	  float: none;
	  display: inline-block;

	}
	a {
	  color: $secondary-color;
	  padding-bottom: 0.5rem;
	  text-decoration: none;

	  &:hover {
		color: $main-color;
		transition: all .3s ease-in-out;
	  }
	}
  }
}